<form action="/user/book-upload" enctype="multipart/form-data" method="post">
    <input type="file" name="bookFile" accept=".pdf, .epub">
    <input type="text" name="name" placeholder="Name of the Book">
    <input type="text" name="author" placeholder="Author of the Book">
    <input type="text" name="edition" placeholder="Edition of the Book">
    <input type="text" name="genre" placeholder="Genre of the Book">
    <input type="submit" value="Submit">
</form>