<% const genres= ["Other","Non-Fiction","Mystery","Romance","Science Fiction","Fantasy","Thriller/Suspense","Horror","Historical Fiction","Contemporary","Young Adult","Children's","Biography/Memoir","Crime","Drama","Comedy/Humor","Adventure","Poetry","Self-Help","Religion/Spirituality","Fiction"]; %>

<form action="/user/book-upload" enctype="multipart/form-data" method="post">
    <input type="file" name="bookFile" accept=".pdf, .epub">
    <input type="text" name="name" placeholder="Name of the Book">
    <input type="text" name="author" placeholder="Author of the Book">
    <label for="genre">Genre of the book:</label>
    <select name="genre" id="genre_select">
        <% genres.forEach(function(genre){%>
            <option value="<%=genre%>"><%=genre%></option>
        <%})%>
    </select>
    <input type="submit" value="Submit">
</form>