<h1><%= title %></h1>

<% if (locals.user) { %>
  <a href="/user/profile"><%= locals.user.name%></a>
  <button onclick="window.location.href='/user/sign-out'">Sign Out</button>
<% } else { %>
  <p>Do not have an account? Click here!</p>
  <button onclick="window.location.href='/user/sign-up'">Register</button>

  <p>Click here to enter into your study room</p>
  <button onclick="window.location.href='/user/sign-in'">Enter</button>
<% } %>
