<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    BookShelf / Profile Page
</h1>
<p><%= user.name %></p>
<p><%= user.email %></p>
<% const id = user.bookSchema[0].bookFile %>
<a href="/user/pdf/<%= id%>">Your Book</a>